<template>
  <section
    v-infinite-scroll="loadMore"
    infinite-scroll-disabled="busy"
    infinite-scroll-distance="50"
  >
    <p v-if="!galleries">
      No Gallery found...
    </p>

    <article class="gallery" v-for="gallery in galleries" :key="gallery.id">

      <h2>
        <router-link class="title" :to="{name: 'gallery-detail', params: {galleryId: gallery.id}}">
          {{ gallery.date | moment("YYYY.MM.DD") }}
          -
          {{ gallery.title }}
        </router-link>
      </h2>
      <ImageList :images="favoritesFor(gallery)"></ImageList>
    </article>
  </section>
</template>


<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { mapGetters, mapState } from 'vuex';
import infiniteScroll from 'vue-infinite-scroll';

import ImageList from '@/components/ImageList.vue';

@Component({
  components: {
    ImageList,
  },
  computed: {
    ...mapState([
      'nextPage',
    ]),
    ...mapGetters([
      'galleries',
      'favoritesFor',
    ]),
  },
  directives: {
    infiniteScroll,
  },
})
export default class GalleryList extends Vue {
  public mounted() {
    // @ts-ignore  TODO
    this.$store.dispatch('FETCH_GALLERY_LIST', this.nextPage);

    // there is no title on the index
    this.$store.commit('SET_VIEW_TITLE', '');
  }

  private loadMore() {
    // @ts-ignore  TODO
    if (this.nextPage != null) {
      // @ts-ignore  TODO
      this.$store.dispatch('FETCH_GALLERY_LIST', this.nextPage);
    }
  }
}
</script>


<style lang="scss" scoped>
article:first-child h2 {
    margin-top: 1rem;
}

h2 {
  text-align: left;
  margin: 0;
  margin-top: 3rem;

  &:after {
    border-bottom: 1px solid #eee;
    margin-top: 1rem;
    content: ' ';
    display: block;
  }
}
.title {
  margin-left: 1rem;
}

a,
a:hover {
  color: #000;
  font-weight: 300;
  text-decoration: none;
}
</style>
