<template>
  <section>
    <p v-if="!gallery">
      Gallery not found...
    </p>

    <ImageList v-if="gallery" :images="itemsFor(gallery)"></ImageList>
    <UploadArea @upload-success="fileUploaded" />
  </section>
</template>


<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import { mapGetters, mapState } from 'vuex';

import ImageList from '@/components/ImageList.vue';
import UploadArea from '@/components/UploadArea.vue';

import { Gallery } from '@/types';
import { UppyFile } from '@uppy/core/types';

@Component({
  components: {
    ImageList,
    UploadArea,
  },
  computed: {
    ...mapGetters([
      'galleryById',
      'itemsFor',
    ]),
  },
})
export default class GalleryDetail extends Vue {
  private galleryId: string = '';

  public mounted() {
    this.galleryId = this.$route.params.galleryId;
    this.$store.dispatch('FETCH_GALLERY_DETAIL', this.galleryId);
    this.$store.dispatch('FETCH_GALLERY_ITEMS', this.galleryId);

    // set an initial title until the gallery itself is available
    this.$store.commit('SET_VIEW_TITLE', '...');
  }

  get gallery() {
    // @ts-ignore  TODO galleryById does not exist
    return this.galleryById(this.galleryId);
  }

  @Watch('gallery', { immediate: true, deep: true })
  public onChildChanged(gallery: Gallery, oldVal: Gallery) {
    if (gallery === undefined) {
      return;
    }

    const dateStr = gallery.date.format('YYYY.MM.DD');

    this.$store.commit(
      'SET_VIEW_TITLE',
      `${dateStr} - ${gallery.title}`,
    );
  }

  private fileUploaded(file: UppyFile, guid: string) {
      const payload = {fileId: guid, galleryId: this.galleryId};
      this.$store.dispatch('ADD_ITEM_TO_GALLERY', payload);
  }
}
</script>


<style lang="scss" scoped>
</style>
