<template>
  <header>
    <router-link v-if="title" title="back" to="/">&larr;</router-link>
    <span class="title" v-if="title">{{ title }}</span>

    <router-link class="logo" to="/">PHOTOBOOK</router-link>
  </header>
</template>


<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { mapState } from 'vuex';


@Component({
  computed: mapState({
    title: 'viewTitle',
  }),
})
export default class Header extends Vue {
}
</script>


<style lang="scss">
header {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 1rem;

  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.title {
  margin-left: 1rem;
}

.logo {
  color: rgba(0, 0, 0, 0.54);
  float: right;
  font-weight: 600;
}
</style>
