<template>
  <section
    class="image-list"
    ref="container"
    :style="{ height: layout.containerHeight + 'px'}"
    v-resize:throttle="onResize"
  >
    <spinner
      v-if="!images"
      size="large"
      message="Loading..."
    ></spinner>

    <LightGallery
    >
      <a
        :class="'image-wrapper ' + image.item.type"
        v-for="(image, index) in layout.images"
        :style="{
          left: image.left + 'px',
          top: image.top + 'px',
          width: image.width + 'px',
          height: image.height + 'px',
        }"
        :href="(image.item.type == 'photo') ? image.item.thumbnails.preview : ''"
        :data-poster="(image.item.type == 'video') ? image.item.thumbnails.preview : ''"
        :data-sub-html="(image.item.type == 'video') ? 'video' : ''"
        :data-html="(image.item.type == 'video') ? '#video-' + index : ''"
      >
        <LazyImage
          :src="image.item.thumbnails.thumbnail"
          :width="image.width"
          :height="image.height"
        ></LazyImage>

        <div 
          style="display:none;"
          :id="'video-' + index"
          v-if="image.item.type == 'video'"
        >
          <video class="lg-video-object lg-html5 video-js vjs-default-skin" controls preload="none">
            <source 
              v-for="format in image.item.formats"
              :data-res="format.height"
              :label="format.height + 'p'"
              :src="format.url"
              :type="format.mime_type + '; codecs=' + format.codecs"
            >
            Your browser does not support HTML5 video.
          </video>
        </div>
      </a>
    </LightGallery>
  </section>
</template>


<script lang="ts">
import { Component, Prop, Watch, Vue } from 'vue-property-decorator';
import { mapGetters, mapState } from 'vuex';
import { Image } from '@/types';

import resize from 'vue-resize-directive';
import justifyLayout from 'justified-layout';
import Spinner from 'vue-simple-spinner';
import LazyImage from '@/components/LazyImage.vue';
import LightGallery from '@/components/LightGallery.vue';


@Component({
  components: {
    LazyImage,
    LightGallery,
    Spinner,
  },
  directives: {
    resize,
  },
})
export default class ImageList extends Vue {
  @Prop()
  private images!: Image[];

  private containerWidth: number = 0;
  private boxSpacing: number = 5;

  private mounted() {
    this.onResize();
  }

  private onResize() {
    const container = this.$refs.container as HTMLElement;
    this.containerWidth = container.clientWidth;
  }

  private ratios() {
    /**
     * Convert image dimensions to ratios.
     */
    if (this.images === undefined) {
      return [];
    }

    return this.images.map((image) => image.width / image.height);
  }

  get layout() {
    /**
     * Return all images as justified layout.
     */
    if (this.images === undefined) {
      return {};
    }

    // calulate layout
    const container = this.$refs.container as HTMLElement;
    const ratios = this.ratios();
    const config: LayoutConfig = {
      containerWidth: this.containerWidth,
      containerPadding: 0,
      boxSpacing: this.boxSpacing,
      targetRowHeight: 150,
      targetRowHeightTolerance: 0.5,
    };
    const layout = justifyLayout(ratios, config);

    // combine layout with images
    const images = this.images.map((image: Image, idx: number) => (
      {...layout.boxes[idx], item: image}
    ));

    return {
      containerHeight: layout.containerHeight,
      images,
    };
  }
}
</script>


<style lang="scss" scoped>
a {
  cursor: pointer;
}
.image-list {
  position: relative;
}
.image-wrapper {
  position: absolute;
  display: block;
  background-color: #eee;
}
</style>
