<template>
  <div
    v-images-loaded:on.progress="onImageLoaded"
    :width="width"
    :height="height"
  >
    <spinner
      v-if="!isLoaded"
      class="spinner"
      size="small"
      message="Loading..."
    ></spinner>

    <img
      :class="{ loaded: isLoaded }"
      :src="src"
      :width="width"
      :height="height"
    />
  </div>
</template>


<script lang="ts">
import { Component, Prop, Watch, Vue } from 'vue-property-decorator';
import { mapGetters, mapState } from 'vuex';

import Spinner from 'vue-simple-spinner';
import imagesLoaded from 'vue-images-loaded';


@Component({
  components: {
    Spinner,
  },
  directives: {
    imagesLoaded,
  },
})
export default class LazyImage extends Vue {
  @Prop()
  private src!: string;

  @Prop()
  private width!: number;

  @Prop()
  private height!: number;

  private isLoaded: boolean = false;

  private onImageLoaded(instance: any, image: any) {
    this.isLoaded = true;
  }
}
</script>


<style lang="scss" scoped>
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img {
  opacity: 0;
  transition: opacity 0.5s linear;

  &.loaded {
    opacity: 1;
  }
}
</style>
