<template>
  <div id="lightgallery">
    <slot></slot>
  </div>
</template>


<script lang="ts">
import { Component, Prop, Watch, Vue } from 'vue-property-decorator';

// TODO video.js is provided by `webpack.ProvidePlugin`
import 'video.js/dist/video-js.min.css';

import 'lightgallery.js';
import 'lg-autoplay.js';
import 'lg-fullscreen.js';
import 'lg-video.js';
import 'lg-zoom.js';
import 'lightgallery.js/dist/css/lightgallery.css';


@Component({})
export default class LightGallery extends Vue {
  private observer: MutationObserver | null = null;

  private mounted() {
    const galleryRoot = document.getElementById('lightgallery');
    if (galleryRoot == null) {
        return;
    }

    this.observer = new MutationObserver((mutations) => {
      // @ts-ignore  TODO
      this.gallery = lightGallery(galleryRoot, {
        videojs: true,
        videojsOptions: {
          autoplay: 'play',
          playbackRates: [0.25, 0.5, 0.75, 1, 1.5, 2],
          plugins: {
            videoJsResolutionSwitcher: {
              default: 'low',
            },
          },
        },
      });
    });
    this.observer.observe(
      galleryRoot, { childList: true },
    );
  }

  private beforeDestroy() {
    if (this.observer != null) {
      this.observer.disconnect();
    }
  }
}
</script>
