<template>
  <section class="upload">
    <div class="upload__dragndrop"></div>
    <div class="upload__progress"></div>
  </section>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';

import Uppy from '@uppy/core';
import DragDrop from '@uppy/drag-drop';
import StatusBar from '@uppy/status-bar';
import ThumbnailGenerator from '@uppy/thumbnail-generator';
import Tus10 from '@uppy/tus';


@Component({
})
export default class UploadArea extends Vue {
  public mounted() {
    const uppyOptions = {
      autoProceed: false,
      debug: true,
      restrictions: {
        maxFileSize: 4 * 1024 * 1024 * 1024,  // enforced by backend
        maxNumberOfFiles: null,
        minNumberOfFiles: null,
        allowedFileTypes: ['image/*', 'video/*'],
      },
    };
    const uppyDragDropOptions = {
      target: '.upload__dragndrop',
      locale: {
        strings: {
          dropHereOr: 'Add more images by drop them here or %{browse}',
          browse: 'use the dialog',
        },
      },
    };

    const uppy = Uppy(uppyOptions)
      .use(DragDrop, uppyDragDropOptions)
      .use(Tus10, {endpoint: `${process.env.VUE_APP_API_BASE_URL}/tus/files/`,
                   chunkSize: 4 * 1024 * 1024})
      .use(StatusBar, {target: '.upload__progress'})
      .use(ThumbnailGenerator, {thumbnailWidth: 100});

    const vm = this;
    uppy.on('upload-progress', (file, progress) => {
      this.$emit('upload-progress', file, progress);
    });
    uppy.on('upload-success', (file, result, uploadURL) => {
      const guid = uploadURL.split('/').slice(-2)[0];
      this.$emit('upload-success', file, guid);
    });
    uppy.on('complete', (result) => {
      this.$emit('complete', result);
    });
  }
}
</script>

<style lang="scss">
  // TODO scoped does not work for external scss
  @import '@uppy/core/src/style.scss';
  @import '@uppy/drag-drop/src/style.scss';
  @import '@uppy/status-bar/src/style.scss';

  .uppy-DragDrop-container {
    margin: 0;
    border: 0;
  }
  .uppy-DragDrop-inner {
  }
</style>
