<template>
  <div id="photobook">
    <div class="global-error" v-if="error">
      {{ error }}
    </div>
    <Header></Header>
    <router-view/>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { mapState } from 'vuex';

import Header from '@/components/Header.vue';


@Component({
  components: {
    Header,
  },
  computed: mapState(['error']),
})
export default class App extends Vue {
}
</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import '~normalize.css/normalize';

#photobook {
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  padding-top: 3.8rem;
  position: relative;
}

* {
  box-sizing: border-box;
}

a {
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;

  &:hover{
    opacity: 0.8;
    text-decoration: none;
  }
}

.global-error {
  left: 50%;
  position: absolute;
  top: 0;
  transform: translate(-50%, 0);
  z-index: 10000;

  background-color: rgba(#ff4136, 0.1);
  border: 2px solid #ff4136;
  border-top: none;
  padding: 1em 4em;
}
</style>
